.cc_sci_admin_bar_log_title,
.cc_sci_admin_bar_log_position {
    display: block;
    line-height: 1.4em !important;
    height: 1.4em !important;
    margin-bottom: 10px;
}

.cc_sci_admin_bar_log_position {
    font-size: 0.85em;
    opacity: 0.7;
}

#wp-admin-bar-cc_sciadmin_bar_menu_log .ab-empty-item {
    height: auto !important;
}