@charset "UTF-8";

@font-face {
  font-family: "cc-sci";
  src:url("fonts/cc-sci.eot");
  src:url("fonts/cc-sci.eot?#iefix") format("embedded-opentype"),
    url("fonts/cc-sci.woff") format("woff"),
    url("fonts/cc-sci.ttf") format("truetype"),
    url("fonts/cc-sci.svg#cc-sci") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cc-sci" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cc-sci-"]:before,
[class*=" cc-sci-"]:before {
  font-family: "cc-sci" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cc-sci-terminal:before {
  content: "\62";
}
.cc-sci-terminal-box:before {
  content: "\61";
}
.cc-sci-code-dash:before {
  content: "\63";
}
.cc-sci-code:before {
  content: "\64";
}


body.post-type-cc_sci #post-body #normal-sortables {
    min-height: 0;
}

body.post-type-cc_sci .cc_sci_location {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

body.post-type-cc_sci .cc_sci_location_group>table {
    width: 100%;
}

body.post-type-cc_sci .cc_sci_location_group>table select {
    width: 100%;
}

body.post-type-cc_sci .cc_sci_remove_location_rule {
    text-decoration: none;
    color: rgba(0,0,0,0.2);
}

body.post-type-cc_sci .cc_sci_remove_location_rule:hover {
    text-decoration: none;
    color: #a00;
}

body.post-type-cc_sci .cc_sci_spinner {
    display: inline-block;
    position: relative;
    height: 10px;
    padding-left: 22px;
}

body.post-type-cc_sci .cc_sci_spinner:before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0;
    margin-top: -10px;
    background: url(images/spinner.gif) no-repeat;
}

body.post-type-cc_sci .cc_sci_position_warning  {
    border-left: 5px solid #ffb900;
    padding-left: 10px;
}

body.post-type-cc_sci .CodeMirror {
    height: auto;
    border: 1px solid #ddd;
}

.menu-icon-cc_sci .wp-menu-image:before {
    content: "\62";
    font-family: 'cc-sci' !important;
    font-size: 20px !important;
}